<h2>{{ name }}</h2>
<h4 id="contactinfo">{{ location }} || {{ github }}</h4>
<h4 id="jobtitle">{{ position }}</h4>
<p>Ambitious and creative java developer bringing 4 years of insurance industry experience and 3 years of research experience. Recent graduate of Cincy Code IT Java Developer bootcamp focused on full-stack development from MySQL, Java and SpringBoot for backend development, to HTML/CSS and Angular5 for frontend development. Possess a thirst for knowledge, complex reasoning skills and ability to complete projects on a deadline.</p>