<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-contact></app-contact>
  <app-work-experience></app-work-experience>

  <h2 id="skills">{{ skills }}</h2>
  <p>MySQL, Eclipse, Java, JavaFX, HTML5, CSS3, Bootstrap, jQuery, JavaScript, Typescript</p>
  <table>
    <tr><td>MySQL</td><td>Java</td><td>HTML5</td><td>JavaScript</td></tr>
    <tr><td>Eclipse</td><td>JDBC</td><td>CSS3</td><td>Typescript</td></tr>
    <tr><td>SpringBoot</td><td><li>JPA</li></td><td><li>Bootstrap</li></td><td><li>jQuery</li></td></tr>
  </table>
</div>



